@{
    ViewData["Title"] = "Home Page";
}
@*
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
*@

@*GOOGLEAR CARD BOOTSTRAP 5*@
@section Estilos{

    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

    @*ESTILOS DE BOTONES*@
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet" />


    @*filtrar columnas*@
    <link href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

    <style>

        thead input {
            width: 100%;
            background-color: #FFFFCC !important
        }

        .btn-exportar-excel {
            background-color: #198754 !important;
            color: white !important;
        }

        .btn-exportar-pdf {
            background-color: #dc3545 !important;
            color: white !important;
        }

        .btn-exportar-print {
            background-color: #00a7c9 !important;
            color: white !important;
        }
    </style>
}

<div class="card">
    <div class="card-header">
        Reporte Clientes
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-sm-12">

               
                <table class="display" id="tb_Clientes" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id Cliente</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Dirección</th>
                            <th>Fecha Ingreso</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>

        <a class="btn btn-dark" href="~/ListaClientes/Index"><span class="glyphicon glyphicon-backward">Reporte Clientes</span></a>
            <a class="btn btn-dark" href="~/ListaDetalleFactura/Index"><span class="glyphicon glyphicon-backward">Reporte Detalle Factura</span></a>
            <a class="btn btn-dark" href="~/ListaFactura/Index"><span class="glyphicon glyphicon-backward">Reporte Factura</span></a>
            <a class="btn btn-dark" href="~/ListaFotografo/Index"><span class="glyphicon glyphicon-backward">Reporte Fotógrafos</span></a>
    </div>
</div>

@section Scripts{

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    @*SCRIPTS DE BOTONES*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>

    @*excel*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>

    @*imprimir*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>



    @*filter columns*@
    <script src="https://cdn.datatables.net/fixedheader/3.2.2/js/dataTables.fixedHeader.min.js"></script>





    <script>

        $(document).ready(function() {

            $('#tb_Clientes thead tr').clone(true).addClass('filters').appendTo('#tb_Clientes thead');


            $('#tb_Clientes').DataTable({
               
                "ajax": {
                    "url": '@Url.Action("ListaClientes", "ListaClientes")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "cliIdCliente" },
                    { "data": "cliNombre" },
                    { "data": "cliCorreo" },
                    { "data": "cliDireccion" },
                    { "data": "cliFechaIngreso" }
                    
                ],
           
                language:{
                    url:"https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                },
                
                columnDefs:[
                    {
                        targets: 0,
                        visible:false
                    }
                ],
                
                dom: 'Bfrtip',
                buttons: [
                    
                    {
                        extend: 'excelHtml5',
                        text: 'Exportar Excel',
                        filename: 'Reporte Clientes',
                        title: '',
                        exportOptions: {
                            columns: [ 1,2,3,4 ]
                        },
                        className: 'btn-exportar-excel',
                    },
                  
                    
                    {
                        extend: 'print',
                        title: '',
                        exportOptions: {
                            columns: [ 1,2,3,4 ]
                        },
                        className:'btn-exportar-print'

                    },
                    
                    'pageLength'
                ],
                
                orderCellsTop: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();

                    
                    api.columns().eq(0).each(function (colIdx) {

                            
                            var cell = $('.filters th').eq( $(api.column(colIdx).header()).index() );

                            var title = $(cell).text();

                            
                            $(cell).html('<input type="text" placeholder="Buscar..." />');

                           
                            $('input', $('.filters th').eq($(api.column(colIdx).header()).index()) ).off('keyup change').on('keyup change', function (e) {

                                    e.stopPropagation();

                                    
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; 

                                    var cursorPosition = this.selectionStart;
                                   
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();

                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },

           



            });



        } );
    </script>
}
                
