@{
    ViewData["Title"] = "Home Page";
}


<div class="card">

    <center>
        <div class="card-header">
            FACTURACIÓN PHOTHO DESING ROJAS
        </div>
    </center>

    <div class="card-body">


        <center>
            <h5>Datos Fotógrafo</h5>
        </center>
        <div class="row">
            <div class="col-sm-4">
                <div class="mb-2">
                    <label  class="form-label">Nombre Fotógrafo</label>
                    <input type="text" class="form-control form-control-sm" id="txtdfoNombre" required>
                </div>
            </div>
        </div>

        <hr />

        <center>
            <h5>Datos Cliente</h5>
        </center>
        <div class="row">
            <div class="col-sm-4">
                <div class="mb-2">
                    <label  class="form-label">Nombre Cliente</label>
                    <input type="text" class="form-control form-control-sm" id="txtcliNombre" required>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-2">
                    <label  class="form-label">Correo Cliente</label>
                    <input type="email" class="form-control form-control-sm" id="txtcliCorreo" required>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-2">
                    <label  class="form-label">Dirección Cliente</label>
                    <input type="text" class="form-control form-control-sm" id="txtcliDireccion" required>
                </div>
            </div>
        </div>

        <hr />
        <center>
            <h5>Datos Factura</h5>
        </center>
        <div class="row">
            <div class="col-sm-4">
                <div class="mb-2">
                    <label  class="form-label">Numero Factura</label>
                    <input type="number" class="form-control form-control-sm" id="txtfacNumeroDocumento" required>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-2">
                    <label  class="form-label">Razón Social</label>
                    <input type="text" class="form-control form-control-sm" id="txtfacRazonSocial" required>
                </div>
            </div>
        </div>

        <hr />

        <div class="row align-items-end">
            <div class="col-sm-3">
                <div class="mb-2">
                    <label  class="form-label">Producto</label>
                    <input type="text" class="form-control form-control-sm" id="txtdfaProducto" required>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="mb-2">
                    <label  class="form-label">Precio</label>
                    <input type="number" class="form-control form-control-sm" id="txtdfaPrecio" required>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="mb-2">
                    <label  class="form-label">Cantidad</label>
                    <input type="number" class="form-control form-control-sm" id="txtdfaCantidad" required>
                </div>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-success mb-2 btn-sm" id="btnAgregar">Agregar</button>
                <button class="btn btn-primary mb-2 btn-sm" id="btnTerminar">Terminar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-sm" id="tbProducto">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">Nombre Fotógrafo</th>
                            <th scope="col">Nombre Cliente</th>
                            <th scope="col">Correo Cliente</th>
                            <th scope="col">Dirección Cliente</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
  
    

</div>

@section Scripts{
    <script>

        $("#btnAgregar").on("click",function(){

            var a = parseInt($("#txtdfaPrecio").val()) * parseInt($("#txtdfaCantidad").val())
            var total = parseInt(a) *0.12
            var total = parseInt(total) + parseInt(a)

            var date = new Date();
            var output = String(date.getDate()).padStart(2, '0') + '/' + String(date.getMonth() + 1).padStart(2, '0') + '/' + date.getFullYear();
            
            $("#tbProducto tbody").append(
                $("<tr>").append(
                    $("<td>").text($("#txtdfoNombre").val()),
                    $("<td>").text($("#txtcliNombre").val()),
                    $("<td>").text($("#txtcliCorreo").val()),
                    $("<td>").text($("#txtcliDireccion").val()),
                    $("<td>").text(output),
                    $("<td>").text($("#txtdfaProducto").val()),
                    $("<td>").text($("#txtdfaPrecio").val()),
                    $("<td>").text($("#txtdfaCantidad").val()),
                    $("<td>").text(total),
                )
            )

            //OMITIR
            $("#txtdfaProducto").val("")
            $("#txtdfaPrecio").val("")
            $("#txtdfaCantidad").val("")
            $("#txtdfaProducto").focus();

        })

        $("#btnTerminar").on("click",function(){
            var date = new Date();
            var output = String(date.getDate()).padStart(2, '0') + '/' + String(date.getMonth() + 1).padStart(2, '0') + '/' + date.getFullYear();
            var detallefactura = []
            var total = 0 ;

            $("#tbProducto > tbody > tr").each(function (index, tr) {



                detallefactura.push(
                    {
                        dfaFechaIngreso: $(tr).find("td:eq(4)").text(),
                        dfaProducto: $(tr).find("td:eq(5)").text(),
                        dfaPrecio: parseFloat($(tr).find("td:eq(6)").text()),
                        dfaCantidad: parseInt($(tr).find("td:eq(7)").text()),
                        dfaTotal: parseFloat($(tr).find("td:eq(8)").text())

                    }
                )

                total = total + parseFloat($(tr).find('td:eq(8)').text());

            })

            console.log(detallefactura)
            console.log(total)

            var Fotografos = {
                dfoNombre: $("#txtdfoNombre").val(),
                dfoFechaIngreso: output,
                lstFotografos: detallefactura
            }

            var Clientes = {
                cliNombre: $("#txtcliNombre").val(),
                cliCorreo: $("#txtcliCorreo").val(),
                cliDireccion: $("#txtcliDireccion").val(),
                cliFechaIngreso: output,
                lstClientes: detallefactura
            }

            var Factura = {
                facNumeroDocumento: $("#txtfacNumeroDocumento").val(),
                facRazonSocial: $("#txtfacRazonSocial").val(),
                facTotal: total,
                facFechaIngreso: output,
                lstDetalleFactura: detallefactura
            }
            /*console.log(Fotografos)
            console.log(Fotografos)
            console.log(Fotografos)*/


            jQuery.ajax({
                 url: '@Url.Action("GuardarFactura", "Home")',
                 type: "POST",
                data: JSON.stringify(Factura),
                 dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     console.log(data)
                     if(data.respuesta){
                        alert("Factura Registrada");
                     }
                 }
            });
             jQuery.ajax({
                 url: '@Url.Action( "GuardarClientes", "Home")',
                 type: "POST",
                data: JSON.stringify(Clientes),
                 dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     console.log(data)
                     if(data.respuesta){
                         alert("Cliente Registrado");
                     }
                 }
             });
             jQuery.ajax({
                 url: '@Url.Action("GuardarFotografos", "Home")',
                 type: "POST",
                data: JSON.stringify(Fotografos),
                 dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     console.log(data)
                     if(data.respuesta){
                         alert("Fotógrafo Registrado");
                     }
                 }
             });
        })

    </script>

}