@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


<!--  GOOGLEAR CARD BOOTSTRAP 5 -->
<!--  GOOGLEAR FORM BOOTSTRAP 5 -->
<!--  GOOGLEAR Input group BOOTSTRAP 5 -->
<!--  GOOGLEAR icon BOOTSTRAP 5 -->
<!--  GOOGLEAR TABLE BOOTSTRAP 5 -->
<style>
    .ui-autocomplete {
        max-height: 120px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
</style>
<div class="card">
    <div class="card-header">
        Reporte Facturas
    </div>
    <div class="card-body">
       
       
                <div class="mb-3">
                   
                   
                    <div class="input-group mb-3"> 
                        <label class="form-label">Buscar Facturas:</label>
                        <input type="text" class="form-control" id="txtbuscar">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                  
                        <label class="form-label">Buscar Productos:</label>
                       
                        <input type="text" class="form-control" id="txtbuscardf">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                    </div>

                </div>
                
                   
               
            </div>
       


        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbfactura">
                    <thead class="table-dark ">
                        <tr>
                            <th scope="col">Numero de Documento</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Razón Social</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbfotografo">
                    <thead class="table-dark ">
                        <tr>
                            <th scope="col">Nombre Fotógrafo</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbcliente">
                    <thead class="table-dark ">
                        <tr>                
                            <th scope="col">Nombre Cliente</th>
                            <th scope="col">Correo Cliente</th>
                            <th scope="col">Dirección Cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdetalleventa">
                    <thead class="table-dark ">
                        <tr>                
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbtotal">
                    <thead class="table-dark ">
                        <tr>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
            <div class="col-sm-3">
        
        <input class="btn btn-info" type="button" value="Imprimir" onclick="window.print();" >
    </div>
            
        
    </div>
</div>

@section Scripts{
    <script>

     $(document).ready(function(){

       $( "#txtbuscar" ).autocomplete({
          source: function( request, response ) {

            $.ajax( {
              url: "@Url.Action("BusquedaProducto","Reporte")?busqueda=" + request.term,
              dataType: "json",
              success: function( data ) {
                response( data );
              }
            } );

          },
          minLength: 1,
          select: function( event, ui ) {

            console.log( ui );

            $("#tbfactura tbody").append(
                $("<tr>").append(
                    $("<td>").text(ui.item.facNumeroDocumento),
                    $("<td>").text(ui.item.facFechaIngreso),
                    $("<td>").text(ui.item.facRazonSocial),
                )
            )
             $("#tbfotografo tbody").append(
                $("<tr>").append(
                    $("<td>").text(ui.item.dfoNombre),
                )
            )
            $("#tbcliente tbody").append(
                $("<tr>").append(
                    $("<td>").text(ui.item.cliNombre),
                    $("<td>").text(ui.item.cliCorreo),
                    $("<td>").text(ui.item.cliDireccion),
                )
            )
            $("#tbtotal tbody").append(
                $("<tr>").append(
                    $("<td>").text(ui.item.facTotal),
                )
            )

            event.preventDefault();
            $(this).val("");
          },
          focus: function(event, ui) {
             event.preventDefault();
             $(this).val(ui.item.label);
          }


        } );


     })

    </script>
    <script>

     $(document).ready(function(){

       $( "#txtbuscardf" ).autocomplete({
          source: function( request, response ) {

            $.ajax( {
              url: "@Url.Action("BusquedaProductodf","Reporte")?busquedadf=" + request.term,
              dataType: "json",
              success: function( data ) {
                response( data );
              }
            } );

          },
          minLength: 1,
          select: function( event, ui ) {

            console.log( ui );

             $("#tbdetalleventa tbody").append(
                $("<tr>").append(
                    $("<td>").text(ui.item.dfaProducto),
                    $("<td>").text(ui.item.dfaCantidad),
                    $("<td>").text(ui.item.dfaTotal),
                )
            )

            event.preventDefault();
            $(this).val("");
          },
          focus: function(event, ui) {
             event.preventDefault();
             $(this).val(ui.item.label);
          }


        } );


     })

    </script>
}